# Cloudinary
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret

# JWT
USER_JWT_SECRET=your-jwt-secret

# GST Provider
GST_BASE_URL=https://api.whitebooks.in
GST_PROVIDER_CLIENT_ID=your-gst-client-id
GST_PROVIDER_CLIENT_SECRET=your-gst-client-secret
GST_PROVIDER_IP_ADDRESS=your-ip-address
